@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #5357b6;
  --color-secondary: #67727e;

  /* Background */
  --color-background: #f5f6fa;
  --color-comment: #ffffff;
  --color-border: #e9ebf0;
  --color-border-active: #334253;

  /* Text */
  --color-primary-text: #334253;

  /* Interactive */
  --color-danger: #ed6368;
  --color-primary-hover: #c5c6ef;
  --color-danger-hover: #ffb8bb;
}

@layer base {
  body {
    font-family: "Rubik", sans-serif;
  }
}
